@model vv_airline.Areas.Public.Models.RegisterModel

<form asp-controller="Auth" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"
    class="user">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control form-control-user" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control form-control-user" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control form-control-user" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control form-control-user" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" class="form-control form-control-user" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Đăng nhập</button>
</form>