@using Microsoft.AspNetCore.Identity;
@using vv_airline.Models.Data;
@inject UserManager<User> _userManager
@inject SignInManager<User> _signInManager

@{
    var links = new[]
    {
new
{
To = "/#features",
Label = "Features",
},
new
{
To = "/#solution",
Label = "Solution",
},
new
{
To = "/#reviews",
Label = "Reviews",
},
};



}
@* <script>
let isToggled = false;
const navlinks = document.querySelector("#navlinks");
const hamburger = document.querySelector("#hamburger");
const layer = document.querySelector("#navLayer");
const links = [...navlinks.querySelector("ul").children];

function toggleNavlinks() {
if (isToggled) {
navlinks.classList.add("!visible", "!scale-100", "!opacity-100", "!lg:translate-y-0");
hamburger.classList.add("toggled");
layer.classList.add("origin-top", "scale-y-100");
} else {
navlinks.classList.remove("!visible", "!scale-100", "!opacity-100", "!lg:translate-y-0");
hamburger.classList.remove("toggled");
layer.classList.remove("origin-top", "scale-y-100");
}
}
hamburger.addEventListener("click", () => {
isToggled = !isToggled;
toggleNavlinks();
});

links.forEach((link) => {
link.addEventListener("click", () => {
isToggled = !isToggled;
toggleNavlinks();
});
});
</script> *@

<header class="z-50">
    <nav class="absolute w-full border-b border-black/5 dark:border-white/5 lg:border-transparent">
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
            <div class="relative flex flex-wrap items-center justify-between gap-6 py-3 md:gap-0 md:py-4">
                <div class="relative z-20 flex w-full justify-between md:px-0 lg:w-max">
                    <a href="/" aria-label="logo" class="flex items-center space-x-2">
                        <div aria-hidden="true" class="flex space-x-1">
                            @* <div class="h-4 w-4 rounded-full bg-gray-900 dark:bg-white"></div> *@
                            <img src="/images/logos/logo.png" alt="" class="object-contain h-12">
                            @* <div class="h-6 w-2 bg-primary"></div > *@
                        </div>
                        @* <span class="text-2xl font-bold text-gray-900 dark:text-white">Astrolus</span> *@
                    </a>

                    <div class="relative flex max-h-10 items-center lg:hidden">
                        <button aria-label="humburger" id="hamburger" class="relative -mr-6 p-6">
                            <div aria-hidden="true" id="line"
                                class="m-auto h-0.5 w-5 rounded bg-sky-900 transition duration-300 dark:bg-gray-300">
                            </div>
                            <div aria-hidden="true" id="line2"
                                class="m-auto mt-2 h-0.5 w-5 rounded bg-sky-900 transition duration-300 dark:bg-gray-300">
                            </div>
                        </button>
                    </div>
                </div>
                <div id="navLayer" aria-hidden="true"
                    class="fixed inset-0 z-10 h-screen w-screen origin-bottom scale-y-0 bg-white/70 backdrop-blur-2xl transition duration-500 dark:bg-gray-900/70 lg:hidden">
                </div>
                <div id="navlinks"
                    class="invisible absolute top-full left-0 z-50 w-full origin-top-right translate-y-1 scale-90 flex-col flex-wrap justify-end gap-6 rounded-3xl border border-gray-100 bg-white p-8 opacity-0 shadow-2xl shadow-gray-600/10 transition-all duration-300 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none lg:visible lg:relative lg:flex lg:w-7/12 lg:translate-y-0 lg:scale-100 lg:flex-row lg:items-center lg:gap-0 lg:border-none lg:bg-transparent lg:p-0 lg:opacity-100 lg:shadow-none">
                    <div class="w-full text-gray-600 dark:text-gray-200 lg:w-auto lg:pr-4 lg:pt-0">
                        <ul class="flex flex-col gap-6 tracking-wide lg:flex-row lg:gap-0 lg:text-sm">
                            @* @foreach (var link in links)
                            {
                            <li>
                            <a href="@link.To"
                            class="hover:text-primary block transition dark:hover:text-white md:px-4">
                            <span>@link.Label</span>
                            </a>
                            </li>
                            } *@
                            @* <li>
                            <a href="https://tailus.gumroad.com/l/astls-premium" target="_blank"
                            class="flex gap-2 font-semibold text-gray-700 transition hover:text-primary dark:text-white
                            dark:hover:text-white md:px-4">
                            <span>Premium</span>
                            <span
                            class="flex rounded-full bg-primary/20 px-1.5 py-0.5 text-xs tracking-wider text-purple-700
                            dark:bg-white/10 dark:text-orange-300">
                            new</span>
                            </a>
                            </li> *@
                        </ul>
                    </div>

                    @if (_signInManager.IsSignedIn(User))
                    {
                        @* Console.WriteLine(User.Identity.Name); *@
                        var user = await _userManager.FindByNameAsync(User.Identity.Name);


                        <div class="relative inline-block text-left">
                            <div>
                                <button type="button" @* class="inline-flex w-full justify-center gap-x-1.5 rounded-md
                                bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset
                                ring-gray-300 hover:bg-gray-50" *@ id="menu-button" aria-expanded="true"
                                    aria-haspopup="true" onclick="toggleDropdown('profileDropdown')">
                                    @* Options *@
                                    @* <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25
                                4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                                </svg> *@
                                    <div class="mt-12 lg:mt-0">
                                        <span class="relative text-sm font-semibold text-primary px-4">
                                            Xin chào
                                            @user.FullName
                                            <i class="fa-solid fa-angle-down"></i>
                                        </span>

                                    </div>
                                </button>
                            </div>

                            <div class="absolute right-0 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden z-50"
                                role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1"
                                id="profileDropdown">
                                @* TODO: *@
                                <div class="py-1" role="none">
                                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                                    <a href="/account" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                                        id="menu-item-0">
                                        Tài khoản
                                    </a>
                                    <a href="/flights" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                                        id="menu-item-1">
                                        Chuyến bay
                                    </a>
                                    <a href="/logout" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                                        id="menu-item-2">
                                        Đăng xuất
                                    </a>
                                    @* <form method="POST" action="#" role="none">
                                <button type="submit" class="text-gray-700 block w-full px-4 py-2 text-left text-sm"
                                role="menuitem" tabindex="-1" id="menu-item-3">Sign out</button>
                                </form>
                                </div> *@
                                </div>
                            </div>
                            <script>
                                function toggleDropdown(id) {
                                    document.querySelector(`#${id}`).classList.toggle('hidden')
                                }
                            </script>
                        </div>

                        @* <div class="mt-12 lg:mt-0">
                    <a href="/logout"
                    class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0
                    before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105
                    active:duration-75 active:before:scale-95 sm:w-max">
                    <span class="relative text-sm font-semibold text-white">Đăng Xuất</span>
                    </a>
                    </div> *@
                    }
                    else
                    {


                        <div class="mt-12 lg:mt-0">
                            <a href="/login"
                                class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                                <span class="relative text-sm font-semibold text-primary">Đăng Nhập</span>
                            </a>
                        </div>
                        <div class="mt-12 lg:mt-0">
                            <a href="/register"
                                class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                                <span class="relative text-sm font-semibold text-white">Đăng ký</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
    </nav>
</header>
